<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxh.bicyclerental.mapper.BicycleMapper">
    <resultMap type="Bicycle" id="bicycleResultMap">
        <id column="bicycle_code" property="bicycleCode"/>
        <result column="bicycle_name" property="bicycleName"/>
        <result column="photo" property="photo"/>
        <result column="describ" property="describ"/>
        <result column="hour_rent" property="hourRent"/>
        <result column="day_rent" property="dayRent"/>
        <result column="month_rent" property="monthRent"/>
        <result column="state" property="state"/>
    </resultMap>
    <select id="selectOne" parameterType="Long" resultType="Bicycle">
		select * from bicycle where bicycle_code=#{0}
	</select>
    <select id="select" resultMap="bicycleResultMap">
		select * from bicycle where state = 1
	</select>
    <insert id="insert" parameterType="Bicycle">
		insert into bicycle(bicycle_code,bicycle_name,photo,describ,hour_rent,day_rent,month_rent,state) values(#{bicycleCode},#{bicycleName},#{photo},#{describ},#{hourRent},#{dayRent},#{monthRent},#{state})
	</insert>
    <update id="update" parameterType="Bicycle">
		update bicycle set bicycle_name=#{bicycleName},photo=#{photo},describ=#{describ},hour_rent=#{hourRent},day_rent=#{dayRent},month_rent=#{monthRent},state=#{state} where bicycle_code=#{bicycleCode}
	</update>
    <update id="removeBicycle" parameterType="Long">
		update bicycle set state = 2 where bicycle_code=#{0}
	</update>
</mapper>
