<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxh.bicyclerental.mapper.CouponMapper">
    <resultMap type="Coupon" id="couponResultMap">
        <id column="coupon_id" property="couponId"/>
        <result column="coupon_name" property="couponName"/>
        <result column="coupon_describe" property="couponDescribe"/>
        <result column="discount" property="discount"/>
        <result column="price" property="price"/>
        <result column="state" property="state"/>
    </resultMap>
    <select id="selectOne" parameterType="Long" resultType="Coupon">
		select * from coupon where coupon_id=#{0}
	</select>
    <select id="select" resultMap="couponResultMap">
		select * from coupon where state = 1
	</select>
    <select id="selectByState" parameterType="Integer" resultMap="couponResultMap">
		select * from coupon where state = #{0}
	</select>
    <insert id="insert" parameterType="Coupon">
		insert into coupon(coupon_id,coupon_name,coupon_describe,discount,price,state) values(#{couponId},#{couponName},#{couponDescribe},#{discount},#{price},#{state})
	</insert>
    <delete id="delete" parameterType="Long">
		delete from coupon where coupon_id=#{0}
	</delete>
    <update id="update" parameterType="Coupon">
		update coupon set state=#{state} where coupon_id=#{couponId}
	</update>
</mapper>
