<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxh.bicyclerental.mapper.LocationMapper">
    <resultMap type="Location" id="locationResultMap">
        <id column="id" property="id"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="location_info" property="locationInfo"/>
        <result column="state" property="state"/>
    </resultMap>
    <select id="selectOne" parameterType="Integer" resultType="Location">
		select * from location where id=#{0}
	</select>
    <select id="select" resultMap="locationResultMap">
		select * from location where state = 1
	</select>
    <insert id="insert" parameterType="Location">
		insert into location(province,city,area,location_info,state) values(#{province},#{city},#{area},#{locationInfo},#{state})
	</insert>
    <delete id="delete" parameterType="Integer">
		delete from location where id=#{0}
	</delete>
    <update id="update" parameterType="Location">
		update location set province=#{province},city=#{city},area=#{area},location_info=#{locationInfo},state=#{state} where id=#{id}
	</update>
    <update id="removeLocation" parameterType="Integer">
		update location set state = 2 where id=#{0}
	</update>
</mapper>