<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxh.bicyclerental.mapper.UserMapper">
    <resultMap type="User" id="userResultMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="identity" property="identity"/>
        <result column="name" property="name"/>
        <result column="id_number" property="idNumber"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="email" property="email"/>
        <result column="state" property="state"/>
    </resultMap>
    <select id="selectOne" parameterType="Integer" resultMap="userResultMap">
		select * from user where id=#{0}
	</select>
    <select id="select" resultMap="userResultMap">
		select * from user
	</select>
    <insert id="insert" parameterType="User">
		insert into user(username,password,identity,name,id_number,phone_number,email) values(#{username},#{password},#{identity},#{name},#{idNumber},#{phoneNumber},#{email})
	</insert>
    <update id="delete" parameterType="Integer">
		update user set state = 0 where id=#{0}
	</update>
    <update id="updateIdentity" parameterType="User">
		update user set identity = #{identity} where id=#{id}
	</update>
    <update id="update" parameterType="User">
		update user set username=#{username},password=#{password},identity=#{identity},name=#{name},id_number=#{idNumber},phone_number=#{phoneNumber},email=#{email},state=#{state} where id=#{id}
	</update>
</mapper>